[tools]
  bun = "1.3.4"

[tasks.docker-build]
  run = "docker build -t listseerr ."

[tasks.docker-run]
  run = "docker run -p 3000:3000 -v $(pwd)/data:/app/data listseerr"

[tasks.docker-ci]
  run = [
    "docker build -f docker/Dockerfile.ci -t listseerr-ci .",
    "docker rmi listseerr-ci",
  ]
