@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Disable default colors to prevent their use */
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-sky-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;

  /* Flexoki colors extended palette */
  --color-black: #100f0f;
  --color-paper: #fffcf0;
  --color-base-50: #f2f0e5;
  --color-base-100: #e6e4d9;
  --color-base-150: #dad8ce;
  --color-base-200: #cecdc3;
  --color-base-300: #b7b5ac;
  --color-base-400: #9f9d96;
  --color-base-500: #878580;
  --color-base-600: #6f6e69;
  --color-base-700: #575653;
  --color-base-800: #403e3c;
  --color-base-850: #343331;
  --color-base-900: #282726;
  --color-base-950: #1c1b1a;
  --color-red-50: #ffe1d5;
  --color-red-100: #ffcabb;
  --color-red-150: #fdb2a2;
  --color-red-200: #f89a8a;
  --color-red-300: #e8705f;
  --color-red-400: #d14d41;
  --color-red-500: #c03e35;
  --color-red-600: #af3029;
  --color-red-700: #942822;
  --color-red-800: #6c201c;
  --color-red-850: #551b18;
  --color-red-900: #3e1715;
  --color-red-950: #261312;
  --color-orange-50: #ffe7ce;
  --color-orange-100: #fed3af;
  --color-orange-150: #fcc192;
  --color-orange-200: #f9ae77;
  --color-orange-300: #ec8b49;
  --color-orange-400: #da702c;
  --color-orange-500: #cb6120;
  --color-orange-600: #bc5215;
  --color-orange-700: #9d4310;
  --color-orange-800: #71320d;
  --color-orange-850: #59290d;
  --color-orange-900: #40200d;
  --color-orange-950: #27180e;
  --color-yellow-50: #faeec6;
  --color-yellow-100: #f6e2a0;
  --color-yellow-150: #f1d67e;
  --color-yellow-200: #eccb60;
  --color-yellow-300: #dfb431;
  --color-yellow-400: #d0a215;
  --color-yellow-500: #be9207;
  --color-yellow-600: #ad8301;
  --color-yellow-700: #8e6b01;
  --color-yellow-800: #664d01;
  --color-yellow-850: #503d02;
  --color-yellow-900: #3a2d04;
  --color-yellow-950: #241e08;
  --color-green-50: #edeecf;
  --color-green-100: #dde2b2;
  --color-green-150: #cdd597;
  --color-green-200: #bec97e;
  --color-green-300: #a0af54;
  --color-green-400: #879a39;
  --color-green-500: #768d21;
  --color-green-600: #66800b;
  --color-green-700: #536907;
  --color-green-800: #3d4c07;
  --color-green-850: #313d07;
  --color-green-900: #252d09;
  --color-green-950: #1a1e0c;
  --color-cyan-50: #ddf1e4;
  --color-cyan-100: #bfe8d9;
  --color-cyan-150: #a2dece;
  --color-cyan-200: #87d3c3;
  --color-cyan-300: #5abdac;
  --color-cyan-400: #3aa99f;
  --color-cyan-500: #2f968d;
  --color-cyan-600: #24837b;
  --color-cyan-700: #1c6c66;
  --color-cyan-800: #164f4a;
  --color-cyan-850: #143f3c;
  --color-cyan-900: #122f2c;
  --color-cyan-950: #101f1d;
  --color-blue-50: #e1eceb;
  --color-blue-100: #c6dde8;
  --color-blue-150: #abcfe2;
  --color-blue-200: #92bfdb;
  --color-blue-300: #66a0c8;
  --color-blue-400: #4385be;
  --color-blue-500: #3171b2;
  --color-blue-600: #205ea6;
  --color-blue-700: #1a4f8c;
  --color-blue-800: #163b66;
  --color-blue-850: #133051;
  --color-blue-900: #12253b;
  --color-blue-950: #101a24;
  --color-purple-50: #f0eaec;
  --color-purple-100: #e2d9e9;
  --color-purple-150: #d3cae6;
  --color-purple-200: #c4b9e0;
  --color-purple-300: #a699d0;
  --color-purple-400: #8b7ec8;
  --color-purple-500: #735eb5;
  --color-purple-600: #5e409d;
  --color-purple-700: #4f3685;
  --color-purple-800: #3c2a62;
  --color-purple-850: #31234e;
  --color-purple-900: #261c39;
  --color-purple-950: #1a1623;
  --color-magenta-50: #fee4e5;
  --color-magenta-100: #fccfda;
  --color-magenta-150: #f9b9cf;
  --color-magenta-200: #f4a4c2;
  --color-magenta-300: #e47da8;
  --color-magenta-400: #ce5d97;
  --color-magenta-500: #b74583;
  --color-magenta-600: #a02f6f;
  --color-magenta-700: #87285e;
  --color-magenta-800: #641f46;
  --color-magenta-850: #4f1b39;
  --color-magenta-900: #39172b;
  --color-magenta-950: #24131d;

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in-up: fade-in-up 0.5s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Flexoki main colors.  */
@theme inline {
  /* Main background */
  --color-light-bg: var(--color-paper);
  /* Secondary background */
  --color-light-bg-2: var(--color-base-50);
  /* Primary text */
  --color-light-tx: var(--color-black);
  /* Muted text */
  --color-light-tx-2: var(--color-base-600);
  /* Faint text */
  --color-light-tx-3: var(--color-base-300);
  /* Borders */
  --color-light-ui: var(--color-base-100);
  /* Hovered borders */
  --color-light-ui-2: var(--color-base-150);
  /* Active borders */
  --color-light-ui-3: var(--color-base-200);

  /* Same as above but for dark mode */
  --color-dark-bg: var(--color-black);
  --color-dark-bg-2: var(--color-base-950);
  --color-dark-tx: var(--color-base-200);
  --color-dark-tx-2: var(--color-base-500);
  --color-dark-tx-3: var(--color-base-700);
  --color-dark-ui: var(--color-base-900);
  --color-dark-ui-2: var(--color-base-850);
  --color-dark-ui-3: var(--color-base-800);

  /* Accent colors used for text */
  /* Error text */
  --color-light-re: var(--color-red-600);
  /* Warning text */
  --color-light-or: var(--color-orange-600);
  --color-light-ye: var(--color-yellow-600);
  /* Success text */
  --color-light-gr: var(--color-green-600);
  /* Links, active states */
  --color-light-cy: var(--color-cyan-600);
  --color-light-bl: var(--color-blue-600);
  --color-light-pu: var(--color-purple-600);
  --color-light-ma: var(--color-magenta-600);

  /* Same as above but for dark mode */
  --color-dark-re: var(--color-red-400);
  --color-dark-or: var(--color-orange-400);
  --color-dark-ye: var(--color-yellow-400);
  --color-dark-gr: var(--color-green-400);
  --color-dark-cy: var(--color-cyan-400);
  --color-dark-bl: var(--color-blue-400);
  --color-dark-pu: var(--color-purple-400);
  --color-dark-ma: var(--color-magenta-400);

  /* Same accent colors but different shade (dimmed) */
  /* Same logic applies to the */
  --color-light-re-2: var(--color-red-400);
  --color-light-or-2: var(--color-orange-400);
  --color-light-ye-2: var(--color-yellow-400);
  --color-light-gr-2: var(--color-green-400);
  --color-light-cy-2: var(--color-cyan-400);
  --color-light-bl-2: var(--color-blue-400);
  --color-light-pu-2: var(--color-purple-400);
  --color-light-ma-2: var(--color-magenta-400);

  --color-dark-re-2: var(--color-red-600);
  --color-dark-or-2: var(--color-orange-600);
  --color-dark-ye-2: var(--color-yellow-600);
  --color-dark-gr-2: var(--color-green-600);
  --color-dark-cy-2: var(--color-cyan-600);
  --color-dark-bl-2: var(--color-blue-600);
  --color-dark-pu-2: var(--color-purple-600);
  --color-dark-ma-2: var(--color-magenta-600);
}

/* Flexoki semantic color variables. Light and dark theme adaptable. */
@theme {
  --color-background: var(--color-light-bg);
  --color-foreground: var(--color-light-tx);
  --color-muted: var(--color-light-tx-2);

  --color-border: var(--color-light-ui);
  --color-border-hover: var(--color-light-ui-2);
  --color-border-active: var(--color-light-ui-3);

  --color-card: var(--color-light-bg-2);
  --color-card-hover: var(--color-base-100);
  --color-card-foreground: var(--color-light-tx);

  --color-primary: var(--color-cyan-300);
  --color-primary-hover: var(--color-cyan-400);
  --color-primary-foreground: var(--color-light-tx);

  --color-input: var(--color-light-ui);
  --color-input-success: var(--color-green-200);
  --color-input-error: var(--color-red-200);
  --color-ring: var(--color-light-cy-2);
  --color-ring-success: var(--color-light-gr-2);
  --color-ring-error: var(--color-light-re-2);

  --color-destructive: var(--color-light-re-2);
  --color-destructive-hover: var(--color-light-re);
  --color-destructive-background: var(--color-red-150);
  --color-destructive-foreground: var(--color-light-tx);
  --color-destructive-muted: var(--color-light-tx-2);
  --color-destructive-border: var(--color-red-300);

  --color-warning: var(--color-light-or-2);
  --color-warning-background: var(--color-orange-150);
  --color-warning-foreground: var(--color-light-tx);
  --color-warning-muted: var(--color-light-tx-2);
  --color-warning-border: var(--color-orange-300);

  --color-success: var(--color-light-gr-2);
  --color-success-background: var(--color-green-150);
  --color-success-foreground: var(--color-light-tx);
  --color-success-muted: var(--color-light-tx-2);
  --color-success-border: var(--color-green-300);

  --color-info: var(--color-light-bl-2);
  --color-info-background: var(--color-green-150);
  --color-info-foreground: var(--color-light-tx);
  --color-info-muted: var(--color-light-tx-2);
  --color-info-border: var(--color-green-00);

  --color-link: var(--color-light-bl);
}

@layer theme {
  * {
    @variant dark {
      --color-background: var(--color-dark-bg);
      --color-foreground: var(--color-dark-tx);
      --color-muted: var(--color-dark-tx-2);

      --color-border: var(--color-dark-ui);
      --color-border-hover: var(--color-dark-ui-2);
      --color-border-active: var(--color-dark-ui-3);

      --color-card: var(--color-dark-bg-2);
      --color-card-hover: var(--color-base-900);
      --color-card-foreground: var(--color-dark-tx);

      --color-primary: var(--color-dark-cy-2);
      --color-primary-hover: var(--color-cyan-500);
      --color-primary-foreground: var(--color-dark-tx);

      --color-input: var(--color-dark-ui);
      --color-input-success: var(--color-green-800);
      --color-input-error: var(--color-red-800);
      --color-ring: var(--color-dark-cy-2);
      --color-ring-success: var(--color-dark-gr);
      --color-ring-error: var(--color-dark-re);

      --color-destructive: var(--color-dark-re-2);
      --color-destructive-hover: var(--color-dark-re);
      --color-destructive-background: var(--color-red-900);
      --color-destructive-foreground: var(--color-dark-tx);
      --color-destructive-muted: var(--color-dark-tx-2);
      --color-destructive-border: var(--color-red-800);

      --color-warning: var(--color-dark-or-2);
      --color-warning-background: var(--color-orange-900);
      --color-warning-foreground: var(--color-dark-tx);
      --color-warning-muted: var(--color-dark-tx-2);
      --color-warning-border: var(--color-orange-800);

      --color-success: var(--color-dark-gr-2);
      --color-success-background: var(--color-green-900);
      --color-success-foreground: var(--color-dark-tx);
      --color-success-muted: var(--color-dark-tx-2);
      --color-success-border: var(--color-green-800);

      --color-info: var(--color-dark-bl-2);
      --color-info-background: var(--color-blue-900);
      --color-info-foreground: var(--color-dark-tx);
      --color-info-muted: var(--color-dark-tx-2);
      --color-info-border: var(--color-blue-800);

      --color-link: var(--color-dark-bl);
    }
  }
}

/* Global default styles */
@layer base {
  * {
    border-color: var(--color-border);
  }

  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-ring);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  html {
    scrollbar-gutter: stable;
  }
}
